.logo {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.cover-photo {
  width: 100%;
}

button {
  border: none;
  width: 5%;
}

.edit-btn {
  background-color: yellow;
}

.cancel-btn {
  background-color: red;
}

.confirm-btn-active {
  background-color: green;
}

.confirm-btn-inactive {
  background-color: gray;
}
